*{padding:0; margin:0;}

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#frame{
    width: 1920px;
    margin: 0 auto;
}

body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#contents{
    z-index: 9999px;
    /* border: 1px dashed red; */
    width: 65%;
    position: relative;
    top: 40%;
    left: 19%;
}


h2{
    font-size: 45pt;
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    text-anchor: middle;
    float: left;
    padding: 0px;
}


/* ---- particles.js container ---- */

#particles-js{
    /* z-index: -1px; */
    width: 100%;
    height: 100%;
    background-color: #3F454A;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    /* top: 0;
    left: 0; */
  }

#logo{
    /* z-index: 9999px; */
    /* border: 1px dashed white; */
    width: 100%;
    position: relative;
    /* top: 40%;
    left: 19%; */
}

#texts{
    position: relative;
    /* width: 200px; */
    top: 30px;
    /* left: 35%; */
    text-align: center;
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13pt;
    opacity: .9;
}

h3{ 
    /* border: 1px dashed white; */
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13pt;
}